<app-headers></app-headers>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">

            <app-seleccionar-cliente></app-seleccionar-cliente>

            <div class="form-control mb-3">
                <label for="">Precio</label>
                <select class="form-control" name="" id="">
                    <option value="null">Selecciones un precio</option>
                    <option value="">Diaria</option>
                    <option value="">Mensual</option>
                </select>
            </div>

            <div class="form-control">
                <label for="">Fecha de inicio</label>
                <input class="form-control" type="text" disabled>
            </div>

            <div class="form-control">
                <label for="">Fecha de finalizacion</label>
                <input class="form-control" type="text" disabled>
            </div>

            <div class="form-control">
                <label for="">Sub total</label>
                <input class="form-control" type="number" disabled>
            </div>

            <div class="form-control">
                <label for="">Impuesto</label>
                <input class="form-control" type="number" disabled>
            </div>

            <div class="form-control">
                <label for="">Total</label>
                <input class="form-control" type="number" disabled>
            </div>

            <button class="btn btn-primary mb-3">Guardar</button>

        </div>

        <div class="col-sm-6">
            <div class="imgCliente">
                <img src="https://img.freepik.com/vector-premium/imagen-dibujos-animados-hongo-palabra-hongo_587001-200.jpg" alt="">
            </div>
        </div>
    </div>
</div>
