<div class="clientes">
    <div class="form-group mb-3">
        <label for="">Cliente</label>
        <input class="form-control" type="text" placeholder="Buscar un cliente">
    </div>
    <div class="form-group mb-3">
        <label for="">Cliente</label>
        <div class="row">
            <div class="col-sm-9">
                <input disabled type="text" class="form-control">
            </div>
            <div class="col-sm-3">
                <button class="btn btn-danger">Cancelar</button>
            </div>
        </div>
    </div>
    <div class="list-group mb-3">
        <a href="#" class="list-group-item list-group-item-action">Cliente 1</a>
        <a href="#" class="list-group-item list-group-item-action">Cliente 2</a>
        <a href="#" class="list-group-item list-group-item-action">Cliente 3</a>
        <a href="#" class="list-group-item list-group-item-action">Cliente 4</a>
    </div>
</div>
