<app-headers></app-headers>
<div class="container mt-5">
    <div class="row">
        <h4>Listado de clientes</h4>

        <form action="">
            <div class="form-group mb-4">
                <input type="text" class="form-control" placeholder="Buscar un cliente">
            </div>
        </form>

        <div *ngFor="let cliente of clientes" class="col-sm-3 mb-4">
            <div class="card">
                <img class="card-img-top imgCliente" [src]="'data:image/jpeg;base64,'+ cliente.clienteFoto">
                <div class="card-body">
                  <h5 class="card-title">{{cliente.clienteNombre}} {{cliente.clienteApellido}}</h5>
                  <a [routerLink]="['/agregar-cliente/', cliente.id_cliente]" class="card-link">Editar</a>
                  <a [routerLink]="'#'" class="card-link text-danger">Desactivar</a>
                </div>
            </div>
        </div>
    </div>
</div>
